<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv=”Expires” content=”-1″>
    <meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Manager Portal' + ${title == null ? '' : ' :: ' + title}">Manager Portal</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Dashboard</a>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li><a th:href="@{/}">Dashboard</a></li>-->
                <li><a th:href="@{/add}">Add Cars To Fleet</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li><a th:href="@{/view-managers}">View All Managers</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>



    </div>
</div>

</body>
</html>