<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv=”Expires” content=”-1″>
    <meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>
</head>
<body class="container">


<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerDTO.username}" />
        </label>
        <p class="error" th:errors="${registerDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />
</form>

</body>
</html>