<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv=”Expires” content=”-1″>
    <meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Fleet listed by drivers</h2>



     <ul>
         <li th:each="car : ${cars}">
             <a th:href="@{'/view/' + ${car.id}}">
                <p th:text="${car.driverName}"></p>
             </a>
         </li>
     </ul>

 </div>

 </body>
 </html>